<html>
<head>
    <style>
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 5% auto; /* 15% from the top and centered */
            padding: 5px;
            border: 1px solid #888;
            width: 25%; /* Could be more or less, depending on screen size */
        }

        .modal h2 { margin: 10px 0; }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .modal .label span {
            position: relative;
            display: block;
            margin-bottom: 10px;
            padding: 0;
            font-size: 1em;
            line-height: 1.2em;
            height: 1.2em;
            font-family: sans-serif;
        }

        .modal .field-name {
            background-color: white;
            padding: 8px 12px;
            border-radius: 4px;
            border: 1px solid transparent;
            box-shadow: 0 1px 3px 0 #e6ebf1;
            -webkit-transition: box-shadow 150ms ease;
            transition: box-shadow 150ms ease;

            display: block;
            font-family: sans-serif;
            margin: 0;
            width: 100%;
            font-size: 1em;
            line-height: 1.2em;
            height: 1.2em;

        }

        .modal .field-name:focus {
            box-shadow: 0 1px 3px 0 #cfd7df;
        }

        .modal .group { margin: 20px 5px; }

        .modal-footer {
            text-align: center;
        }

        .modal-footer button { margin: 0 15px;}
    </style>
</head>
<body>


<!-- Central Modal Medium Success -->
<div class="modal fade show" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display:block;">
    <div class="modal-dialog modal-notify modal-success" role="document">
        <!--Content-->
        <div class="modal-content">
            <form id="payment-form">
                <!--Header-->
                <div class="modal-header">
                    <h2>Pay</h2>
                </div>

                <!--Body-->
                <div class="modal-body">

                        <div class="group">
                            <label class="label">
                                <span>Name</span>
                                <input name="cardholder-name" class="field-name" placeholder="Jane Doe" />
                            </label>
                        </div>
                        <div class="group">
                            <label>
                                <span>Card</span>
                                <div id="card-element" class="field"></div>
                            </label>
                        </div>

                        <div class="outcome">
                            <div class="error" role="alert"></div>
                        </div>


                </div>

                <!--Footer-->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary-modal">Pay $25 <i class="fa fa-diamond ml-1"></i></button>
                    <button type="submit" class="btn btn-outline-secondary-modal waves-effect" data-dismiss="modal">No, thanks</button>
                </div>
            </form>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Central Modal Medium Success-->

<script src="https://js.stripe.com/v3/"></script>
<script>
    // Create a Stripe client
    var stripe = Stripe('{{ publishable_key }}');

    // Create an instance of Elements
    var elements = stripe.elements();

    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
        base: {
            color: '#32325d',
            lineHeight: '24px',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
                color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
    };

    // Create an instance of the card Element
    var card = elements.create('card', {style: style});

    // Add an instance of the card Element into the `card-element` <div>
    card.mount('#card-element');

    card.addEventListener('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    // Create a token or display an error when the form is submitted.
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
        event.preventDefault();

        stripe.createToken(card).then(function(result) {
            if (result.error) {
                // Inform the user if there was an error
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                // Send the token to your server
                stripeTokenHandler(result.token);
            }
        });
    });

    function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        // Submit the form
        form.submit();
    }
</script>
</body>
</html>