<a class="nav-link dropdown-toggle" href="#">
    <i data-count="10" class="fa fa-money notification-icon"></i>
</a>

<div class="dropdown-container dropdown-position-bottomright">

    <ul class="dropdown-menu">

        <li class="dropdown-item notification">
            You have
             - 50 Job Posting credits
             - 0 CV Search credits
        </li>
    </ul>

    <div class="dropdown-footer text-center">
        <a href="#" >View Wallet</a>
    </div>
</div>